﻿/*@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(/font/open-sans/OpenSans-Light.ttf) format('ttf');
}*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/font/open-sans/OpenSans-Regular.ttf) format('woff');
}
/*@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(/font/open-sans/OpenSans-Semibold.ttf) format('woff');
}*/
/*@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/font/open-sans/OpenSans-Bold.ttf) format('woff');
}*/
/*@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(/font/open-sans/OpenSans-ExtraBold.ttf) format('woff');
}*/
/*@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(/font/open-sans/OpenSans-LightItalic.ttf) format('woff');
}*/
/*@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/font/open-sans/OpenSans-Italic.ttf) format('woff');
}*/
/*@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(/font/open-sans/OpenSans-SemiboldItalic.ttf) format('woff');
}*/
/*@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(/font/open-sans/OpenSans-BoldItalic.ttf) format('woff');
}*/
/*@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url(/font/open-sans/OpenSans-ExtraBoldItalic.ttf) format('woff');
}*/