/**** CONFIG ****/
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
	-webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
	-webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
}




/**** STANDARD ****/

/** Colours **/

/* light grey */
body					{ background:#E3E3E1; }

/* light grey - alt */
tr:nth-child(2n+1)	{ background:#CFCFCC; }

/* mid grey */
.btn					{ background:#7F7F7C; }

/* dark grey */
.gryPnl				{ background:#3B3B39; }
.cntList tr		{ border-color:#3B3B39; }

/* strong yellow */
.gryPnl h1,
.gryPnl h2		{ color:#E7DD0D; }

/* soft yellow */
.gryPnl,
.gryPnl a,
.btn					{ color:#DEDD65; }


/** Tags **/
html					{ min-height:100%; }
body					{ min-height:100%; margin:0; font-family:'Open Sans'; }

h1						{ font-size:44px; }
h2						{ font-size:34px; }
a							{ font-size:26px; }
p							{ font-size:17px; }
label					{ font-size:22px; }
select				{ font-size:22px; padding:10px; }
input					{ font-size:22px; padding:10px; }

/** Modifiers **/
.hide					{ display:none !important; }
.show					{ display:block !important; }
table.show		{ display:table !important; }


/** Styles **/
.gryPnl				{ padding:0 20px; overflow:hidden; }
.gryPnl h1		{ margin:20px 0 25px; }
.gryPnl h2		{ margin-top:10px; }
.gryPnl .btn	{ margin:20px; }

.gryPnl .item										{ margin:12px 0; overflow:hidden; }
.gryPnl .item label							{ display:inline-block; width:150px; }
.gryPnl .item input							{ width:250px; }
.gryPnl .item input.full				{ width:calc(100% - 10px); border-width:1px; }

.cntList p						{ margin:20px 0; text-align:center; }
.cntList a						{ display:none; margin:20px; }
.cntList table				{ display:none; width:calc(100% - 20px); margin:0 auto; padding:10px; font-size:18px;
													border-collapse:collapse; }
.cntList tr						{ border-top:1px solid; cursor:pointer; }
.cntList tr.head			{ cursor:default; }
.cntList td,
.cntList th						{ height:80px; }
.cntList th						{ height:40px; text-align:left; }
.cntList td > img			{ max-height:64px; height:auto; max-width:150px; width:auto; padding:5px;
													vertical-align:middle; }
.cntList table th:nth-of-type(1)	{ text-align:center; }
.cntList table td:nth-of-type(1)	{ text-align:center; width:160px; }
.cntList table td:nth-of-type(2)	{ min-width:calc(100% - 280px); }
.cntList table td:nth-of-type(3)	{ width:120px; }

.btn					{ display:inline-block; padding:20px 30px; cursor:pointer; text-decoration:none; }

.ctrTxt				{ text-align:center; }

select.half												{ float:left; width:calc(50% - 10px); }
select.half:nth-of-type(2)				{ float:right; }




/**** VIEWS ****/

body > div		{ display:none; }


/** Equipment List **/
#equipmentList > .gryPnl					{ padding-bottom:25px; }
#equipmentList > .cntList					{ display:none; }


/** Inventory List **/
#inventoryList > header						{ padding-left:0px; }
#inventoryList > header img				{ float:left; max-height:140px; height:auto; max-width:210px; width:auto; }
#inventoryList > header .right		{ float:left; width:calc(100% - 225px); margin-left:15px; }
#inventoryList > header .name			{ margin-bottom:4px; }
#inventoryList > header .finish		{ margin-top:0px; font-style:italic; }

#inventoryList > .rfidPopupMask		{ display:none; position:fixed; top:0; left:0; width:100%; height:100%;
																			background:rgba(0, 0, 0, 0.6); }
#inventoryList .rfidPopup					{ position:fixed; top:0; right:0; bottom:0; left:0; height:309px; margin:auto;
																			padding:0; }
#inventoryList .rfidPopup .col		{ max-width:100%; width:440px; height:calc(100% - 40px); margin:20px auto; }
#inventoryList .rfidPopup .btn		{ margin-left:0; padding:16px 32px; }
#inventoryList .rfidPopup .status	{ display:block; font-size:22px; text-align:center; }